.menu-icon, .menu-sub-icon {
  color: hsla(0,0%,0%,0.85);
}

.active {
  color: green;
}

a:hover .menu-sub-icon {
  color: green;
}

.active .menu-icon, a:hover .menu-icon {
  color: white;
}

.language-icon {
  cursor: pointer;
  border-radius: 50px;
  width: 20%;
}

.language-icon:hover {
  box-shadow: 0 0 0 2px green, 0 0 0 7px #ffffff;
}
